.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 0.6em;
  margin-bottom: 5em;
  margin-top: 0.6em;
}

.grid-item {
  aspect-ratio: 1;
  position: relative;
  cursor: pointer;
}

.grid-item img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.grid-item-preview {
  position: absolute;
  height: 25%;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.9);
  color: #444;
  visibility: hidden;
  opacity: 0;
  padding: 0.5em;
}

.grid-item:hover .grid-item-preview{
  visibility: visible;
  opacity: 1;
}

.grid-item-preview .timestamp {
  font-size: 0.9em;

}