.nav {
  background-color: lightpink;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  color: #54424B;
}

.nav a {
  text-decoration: none;
  color: inherit;
}

.logo {
  font-size: 3em;
}

.nav ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.nav li {
  list-style: none;
  margin-left: 20px;
  cursor: pointer;
}

.nav li:hover,
.nav li .active {
  color: #A16484;

}

.icon {
  font-size: 1.5em;
}

.nav li button {
  color: inherit;
  border: none;
  background-color: transparent;
  padding: 0;
  font-size: inherit;
}
